BPEL/TempConversion/tempConversion.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://webservices.daehosting.com/temperature" name="TemperatureConversions" targetNamespace="http://webservices.daehosting.com/temperature">
<types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://webservices.daehosting.com/temperature">
<xs:element name="CelsiusToFahrenheit">
<xs:complexType>
<xs:sequence>
<xs:element name="nCelsius" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CelsiusToFahrenheitResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="CelsiusToFahrenheitResult" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="FahrenheitToCelsius">
<xs:complexType>
<xs:sequence>
<xs:element name="nFahrenheit" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="FahrenheitToCelsiusResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="FahrenheitToCelsiusResult" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="WindChillInCelsius">
<xs:complexType>
<xs:sequence>
<xs:element name="nCelsius" type="xs:decimal"/>
<xs:element name="nWindSpeed" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="WindChillInCelsiusResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="WindChillInCelsiusResult" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="WindChillInFahrenheit">
<xs:complexType>
<xs:sequence>
<xs:element name="nFahrenheit" type="xs:decimal"/>
<xs:element name="nWindSpeed" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="WindChillInFahrenheitResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="WindChillInFahrenheitResult" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</types>
<message name="CelsiusToFahrenheitSoapRequest">
<part name="parameters" element="tns:CelsiusToFahrenheit"/>
</message>
<message name="CelsiusToFahrenheitSoapResponse">
<part name="parameters" element="tns:CelsiusToFahrenheitResponse"/>
</message>
<message name="FahrenheitToCelsiusSoapRequest">
<part name="parameters" element="tns:FahrenheitToCelsius"/>
</message>
<message name="FahrenheitToCelsiusSoapResponse">
<part name="parameters" element="tns:FahrenheitToCelsiusResponse"/>
</message>
<message name="WindChillInCelsiusSoapRequest">
<part name="parameters" element="tns:WindChillInCelsius"/>
</message>
<message name="WindChillInCelsiusSoapResponse">
<part name="parameters" element="tns:WindChillInCelsiusResponse"/>
</message>
<message name="WindChillInFahrenheitSoapRequest">
<part name="parameters" element="tns:WindChillInFahrenheit"/>
</message>
<message name="WindChillInFahrenheitSoapResponse">
<part name="parameters" element="tns:WindChillInFahrenheitResponse"/>
</message>
<portType name="TemperatureConversionsSoapType">
<operation name="CelsiusToFahrenheit">
<documentation>
	Converts a Celsius Temperature to a Fahrenheit value
</documentation>
<input message="tns:CelsiusToFahrenheitSoapRequest"/>
<output message="tns:CelsiusToFahrenheitSoapResponse"/>
</operation>
<operation name="FahrenheitToCelsius">
<documentation>
	Converts a Fahrenheit Temperature to a Celsius value
</documentation>
<input message="tns:FahrenheitToCelsiusSoapRequest"/>
<output message="tns:FahrenheitToCelsiusSoapResponse"/>
</operation>
<operation name="WindChillInCelsius">
<documentation>
	Windchill temperature calculated with the formula of Steadman
</documentation>
<input message="tns:WindChillInCelsiusSoapRequest"/>
<output message="tns:WindChillInCelsiusSoapResponse"/>
</operation>
<operation name="WindChillInFahrenheit">
<documentation>
	Windchill temperature calculated with the formula of Steadman
</documentation>
<input message="tns:WindChillInFahrenheitSoapRequest"/>
<output message="tns:WindChillInFahrenheitSoapResponse"/>
</operation>
</portType>
<binding name="TemperatureConversionsSoapBinding" type="tns:TemperatureConversionsSoapType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="CelsiusToFahrenheit">
<soap:operation soapAction="" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FahrenheitToCelsius">
<soap:operation soapAction="" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="WindChillInCelsius">
<soap:operation soapAction="" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="WindChillInFahrenheit">
<soap:operation soapAction="" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<binding name="TemperatureConversionsSoapBinding12" type="tns:TemperatureConversionsSoapType">
<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="CelsiusToFahrenheit">
<soap12:operation soapAction="" style="document"/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="FahrenheitToCelsius">
<soap12:operation soapAction="" style="document"/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="WindChillInCelsius">
<soap12:operation soapAction="" style="document"/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="WindChillInFahrenheit">
<soap12:operation soapAction="" style="document"/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
</binding>
<service name="TemperatureConversions">
<documentation>
	DataFlex Web Service to convert temperature values between Celsius and Fahrenheit
</documentation>
<port name="TemperatureConversionsSoap" binding="tns:TemperatureConversionsSoapBinding">
<soap:address location="http://webservices.daehosting.com/services/TemperatureConversions.wso"/>
</port>
<port name="TemperatureConversionsSoap12" binding="tns:TemperatureConversionsSoapBinding12">
<soap12:address location="http://webservices.daehosting.com/services/TemperatureConversions.wso"/>
</port>
</service>
</definitions>